.ml-auto {
  margin-left: auto;
}
.agents_wrapper .slick-prev:before, .agents_wrapper .slick-next:before {
  color: black;
}
.blog_wrapper .blog_inner .col-lg-4{
  margin-bottom: 2rem;
}
.ex_offer_wrapper .ex_offer .card-body a{
  text-decoration: none;
}
@media (min-width: 768px) {
  .text-md-left {
    text-align: left !important;
  }
}
